<div class="container">
  <mat-card>
    <div class="row">
      <mat-card-title>
        Endereço de entrega
      </mat-card-title>
    </div>

    <mat-radio-group class="row" aria-label="Select an option">
      <div *ngFor="let endereco of enderecosList" class="col-12">
        <mat-radio-button class="mt-3" value="1"> {{ endereco.CEP }} - {{ endereco.complemento }} - {{ endereco.numero}}</mat-radio-button>
      </div>
    </mat-radio-group>

    <div class="row">
      <mat-card-title>
        Novo Endereço
      </mat-card-title>
    </div>

    <form  [formGroup]="enderecoGroup" class="row" action="">
      <mat-form-field class="col-12">
        <mat-label>CEP</mat-label>
        <input formControlName="CEP" matInput>
      </mat-form-field>

      <div class="col-12 card-data">
        informações do endereço
      </div>

      <mat-form-field class="col-12">
        <mat-label>Número</mat-label>
        <input formControlName="numero" matInput>
      </mat-form-field>

      <mat-form-field class="col-12">
        <mat-label>Complemento</mat-label>
        <input formControlName="complemento" matInput>
      </mat-form-field>

      <div class="row justify-content-center">
        <button (click)="onSalvar()" class="col-auto" mat-raised-button color="primary">Salvar Endereço</button>
      </div>
    </form>
  </mat-card>
</div>
