h1 {
    font-size: 50px;
    font-weight: lighter;    
    color: white;
    margin: 0;
    width: 98%;
    height: 50px;
    background-color: #1976d2;
    padding: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;    
}

a {
  cursor: pointer;
  color: white;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}
  